@charset "UTF-8";
body{
    height:120vh;
    width: 100%;
    background-image: linear-gradient(to left,rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.582)),url('https://th.bing.com/th/id/R.be7c5fa785da0019fe2588130a17ca7c?rik=i%2bCxtXV%2fJ9iAfQ&pid=ImgRaw&r=0');
    background-size: cover;

}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #34618b;
    color: #949393;
    padding: 10px 20px;
    display: block;
    margin: auto;
    width: 50%;
    text-transform: uppercase;
    
}
#res{
    background-color: rgb(87, 87, 87);
    font-size: 1.2em;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 8px 15px;
    display: block;
    text-align: center;
    width: 50%;
    margin: 0em auto;
    height: 80vh;
    border-radius: 40px;
    box-shadow: inset 4px 4px 40px rgba(0, 0, 0, 0.363),inset -4px -4px 40px rgba(0, 0, 0, 0.596), 10px 20px 50px rgb(65, 65, 65);
}
button{
    display: block;
    width: 18%;
    padding: 10px 20px;
    margin: 10px;
    background-color: #fd7232;
    border: none;
    font-size: 1.2em;
    color: #fff;
    font-weight: 800;
    font-family: initial;
}
button:nth-child(2){
    background-color: rgb(79, 79, 170);
}
@media  screen and (max-width:600px) {
    body{
        height: 150vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: none;
        background-color: #c9c6c6;
        overflow-x: hidden;
    }
    .enclobar{
        width: 50%;
        padding: 15px;
        padding-right: 25px;
        display: block;
        margin: 20px auto;
        background-color: gray;
    }
    #res{
        background-color: #424242;
        width: 90%;
        height: 60%;
        font-size: 25px;
        padding: 20px 20px;
        color: rgb(206, 206, 206);
        border-radius: 20px;
        text-shadow: 2px 2px 2px black;
        box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.63);
    }
    button{
        display: block;
        width: 100%;
        font-size: 35px;
        margin-bottom: 1.3em;
    }
}